.App-header {
    background-color: #000066;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: navajowhite;
}


.App-logo {
    height: 8vmin;
    pointer-events: none;
}
.Header-spacer {
    min-width: 5lvh;
}
